@font-face {
    font-family: 'SECRCODE';
    src: url('fonts/SECRCODE.eot');
    src: local('☺'), url('fonts/SECRCODE.woff') format('woff'), url('fonts/SECRCODE.ttf') format('truetype'), url('fonts/SECRCODE.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.corner {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
body {
    background-color: #454545;
    background-image: url('bg.jpg');
    color: white;
    letter-spacing: 0pt;
    word-spacing: 2pt;
    font-size: 25px;
    font-weight: 800;
    font-family: SECRCODE;
}
.down {
    position: absolute;
    font-size: 20px;
    bottom: 40px;
}
.arrow-down {
    position: absolute;
    margin: auto;
    bottom: 20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ffffff;
}
a:link {
    color: #ffffff;
}
a:visited {
    color: #ffffff;
}
a:hover {
    color: #adadad;
}
a:active {
    color: #ffffff;
}
p {
    margin: auto;
    word-wrap: break-word;
    width: 60%;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
}
.main {
    z-index: -1;
}
header {
    text-align: center;
    background-color: #2B2B2B;
    overflow: hidden;
    left: 0px;
    top: 0px;
    z-index: 3;
}
header::before {
    display: block;
    position: absolute;
    top: -200%;
    left: -150%;
    height: 500%;
    width: 200%;
    background: #f39c12;
    content: '';
    z-index: -1;
    -moz-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#ruler {
    visibility: hidden;
    white-space: nowrap;
}
.text {
    line-height: 20px;
    vertical-align: middle;
    margin-top: 30px;
}
.tile-yes {
    align-self: center;
    float: left;
    width: 80px;
    height: 80px;
    margin: 5px;
    color: white;
    text-align: center;
    background-color: #0054ff;
    line-height: 20px;
    vertical-align: middle;
}
.tile-no {
    align-self: center;
    float: left;
    width: 80px;
    height: 80px;
    margin: 5px;
    color: white;
    text-align: center;
    background-color: #6dff00;
}
.hide {
    align-self: center;
    float: left;
    width: 60px;
    height: 80px;
    margin: 10px;
    color: white;
    text-align: center;
    background-color: #454545;
}
